# Modelo do .env

#STRIPE + POSTMAN
STRIPE_API_KEY=sk_test_sua_chave_aqui
SECURITY_USER=seu_user_aqui
SECURITY_PASSWORD=sua_senha_aqui

# POSTGRES
DB_URL=jdbc_url_aqui
DB_USER=seu_user_aqui
DB_PASSWORD=sua_senha_aqui

#DDL
DDL_AUTO=update

#RABBIT
RABBIT_HOST=seu_host_aqui
RABBIT_PORT=sua_porta_aqui
RABBIT_USER=seu_user_aqui
RABBIT_PASSWORD=sua_senha_aqui